<h1>Admin Page</h1>

<ul>
  <% @students.each do |student| %>
    <li><%= student.name %> - <%= student.email %> - <%= student.role %></li>
  <% end %>
</ul>


<%# The admin portal that just shows a list of the accounts and allows them to see all the grades %>